.LoginForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
    min-width: 400px;
}

.loginBtn {
    border-radius: 4px;
}

.loginError {
    color: #ff0000;
}

.authTitle {
    color: var(--primary-color);
}
