.Sidebar {
    height: calc(100vh - var(--navbar-height));
    width: 300px;
    background: var(--inverted-bg-color);
    position: relative;
    transition: width 0.3s;
}

.switchers {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.lang {
    margin-left: 20px;
}

.collapseBtn {
    position: absolute;
    right: -40px;
    bottom: 32px;
}

.links {
    margin: 20px 0 0 30px;
    display: flex;
    flex-direction: column;
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .switchers {
        flex-direction: column;
    }

    .lang {
        margin: 0;
    }

    .itemLink {
        opacity: 0;
        transition: 0.2s opacity;
        width: 0;
    }
}
