.app.dark {
    --bg-color: #181818;
    --inverted-bg-color: #ffffff;

    --primary-color: #bb86fc;
    --secondary-color: #03dac6;

    --inverted-primary-color: #333333;
    --inverted-secondary-color: #666666;
}
