.app.light {
    --bg-color: #ffffff;
    --inverted-bg-color: #181818;

    --primary-color: #333333;
    --secondary-color: #666666;

    --inverted-primary-color: #bb86fc;
    --inverted-secondary-color: #03dac6;

    --skeleton-color: #e6e6e6;
    --card-bg: #c0c0c0;
}
