.ProfilePageHeader {
    margin-bottom: 20px;
    .cardHeader {
        display: flex;
        justify-content: space-between;
    }

    .cancelBtn {
        margin-right: 15px;
    }
}

.btnsWrapper {
    margin-left: auto;
}
