.CommentCard {
    padding: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
}

.header {
    display: flex;
    align-items: center;
}

.commentText {
    margin-top: 10px;
}

.username {
    margin-left: 10px;
}